*{
    box-sizing: border-box;
}

body {
    height: 10000px;
}

.container-hero {
    height: 600px;
    width: 100%;
    background-image: url(../images/header-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}

.container-hero header {
    padding: 2rem;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 1;
    margin-bottom: 5rem;
}

.container-hero header .judul{
    justify-content: flex-start;
    font-size: 32px;
    font-weight: 600px;
}

.container-hero header nav{
    display: flex;
    justify-content: center;
}

.container-hero header nav ul {
    display: flex;
}

.container-hero header nav ul li{
    margin: 1rem;
}

.container-hero header nav ul a {
    text-decoration: none;
    color: gold;
    font-size: 24px;
    font-weight: 600px;
}

.container-hero header nav ul li a:hover {
    color: gold;
    border-bottom: 3px solid orange;
}

.container-hero header .contact {
    padding: 1rem;
    background-color: darkblue;
    border-radius: 22%;
    text-align: center;
}


.container-hero header .contact a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.container-hero .content-hero .content1{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
}

.container-hero .content-hero .content2{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5rem;
}

.container-hero .content-hero .content-button {
    text-align: center;
}

.container-hero .content-hero .content-button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: orange;
    padding: 1rem;
    border-radius: 22%;
}

